<h2 style="margin-bottom: 30px">My servers</h2>
<label for="name"><strong>Server Name</strong></label>
<input
  id="name"
  type="text"
  class="form-control"
  placeholder="Server Name"
  [(ngModel)]="serverName"
  style="margin-bottom: 15px"
/>
<label for="content"><strong>Server Content</strong></label>
<input
  id="content"
  type="text"
  class="form-control"
  placeholder="Server Content"
  [(ngModel)]="serverContent"
  style="margin-bottom: 20px"
/>
<button
  class="btn btn-primary"
  (click)="addGreenServers()"
  style="margin-right: 5px"
>
  Add Red Server
</button>
<button class="btn btn-primary" (click)="addYellowServers()">
  Add Blue Server
</button>
